# Environnements
.env
.env.local
.env.*.local
/env_expert

# Data
Data/

# Système
.DS_Store
Thumbs.db

# Cache
.cache/
__pycache__/
# Documentation
Documentation/
opera-python/

#__pycache__/
__pycache__/
*.pyc

# Archive
Archives/


