# Environnements
.env
.env.local
.env.*.local
.venv

# Data
Data/

# Système
.DS_Store
Thumbs.db

# Cache
.cache/

# Documentation
Documentation/
opera-python/

#__pycache__/
__pycache__/
*.pyc

# Archive
Archives/

# Draft
draft/


