# =========================
# CORE NUMERIC & DATA
# =========================
numpy==2.3.*
pandas==2.3.*
polars==1.34.*

# =========================
# VISUALIZATION
# =========================
matplotlib==3.10.*
plotly==6.3.*

# =========================
# MACHINE LEARNING & NLP
# =========================
scikit-learn==1.7.*
torch==2.8.*

