# =========================
# CORE NUMERIC & DATA
# =========================
numpy==2.3.*
pandas==2.3.*
polars==1.34.*
streamlit==1.50.*

# =========================
# VISUALIZATION
# =========================
matplotlib==3.10.*
plotly==6.3.*

# =========================
# MACHINE LEAR
# =========================
scikit-learn==1.7.*
torch==2.8.*
# LightGBM doit être compilé pour ARM64, ne pas utiliser de wheels précompilés
lightgbm==4.6.0



