# =========================
# CORE NUMERIC & DATA
# =========================
numpy==2.3.*
pandas==2.3.*
polars==1.34.*
cdsapi==0.7.*
setuptools>=70,<81
wheel>=0.43

# =========================
# VISUALIZATION
# =========================
matplotlib==3.10.*
plotly==6.3.*
seaborn>=0.13

# =========================
# MACHINE LEAR
# =========================
scikit-learn==1.7.*
torch==2.8.*
lightgbm==4.6.*
statsmodels==0.14.*
# OPERA
#https://github.com/Dralliag/opera-python.git



